:root {
  --clr-light-200: hsl(0, 0%, 85%);
  --clr-light-300: hsl(0, 0%, 95%);
  --clr-light-400: hsl(0, 0%, 100%);
  --clr-dark: hsl(224, 39%, 11%);
  --clr-accent: hsl(220, 100%, 46%);
  --clr-danger: hsl(350, 87%, 55%);

  --border-radius: 0.25rem;

  --padding: 0.5rem;

  --hover-opacity: 0.9;

  --font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

body {
  font-family: var(--font-family);
  color: hsl(224, 39%, 11%);
  line-height: 1.5;
}

#root {
  min-height: 100vh;

}